@charset    "utf-8";
/* CSS Document geral*/
*{
    margin: 0px;
    padding: 0px;  
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 2%;
    padding: 2%;
    background-color: #1a1a1a;
    color: aliceblue;
}